In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.decomposition import PCA

In [2]:
data=pd.read_csv(r"C:\Users\Vinod Reddy\Documents\projects\Advance Real Estate Price Prediction\data\Bengaluru_House_Data.csv")
df=data.copy()
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
df.shape

(13320, 9)

In [4]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [5]:
df=df.drop(["society","availability"],axis=1)

In [6]:
df.head()

,area_type,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.0,51.00

In [7]:
df["size"].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', nan, '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [8]:
df["size"]=df["size"].str.split(" ").str[0].str.strip().astype(float)

In [9]:
df.describe()

               size          bath       balcony         price
count  13304.000000  13247.000000  12711.000000  13320.000000
mean       2.803743      2.692610      1.584376    112.565627
std        1.294974      1.341458      0.817263    148.971674
min        1.000000      1.000000      0.000000      8.000000
25%        2.000000      2.000000      1.000000     50.000000
50%        3.000000      2.000000      2.000000     72.000000
75%        3.000000      3.000000      2.000000    120.000000
max       43.000000     40.000000      3.000000   3600.000000

In [10]:
df.dtypes

area_type      object
location       object
size          float64
total_sqft     object
bath          float64
balcony       float64
price         float64
dtype: object

In [11]:
def imputation(df,x):
    df[x]=df[x].fillna(df[x].median())
    return df[x]

In [12]:
df["size"]=imputation(df,"size")
df["bath"]=imputation(df,"bath")
df["balcony"]=imputation(df,"balcony")

In [13]:
df.isnull().sum()

area_type     0
location      1
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [14]:
df.dropna(inplace=True)

In [15]:
df.head()

,area_type,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,2.0,1056,2.0,1.0,39.07
1,Plot Area,Chikka Tirupathi,4.0,2600,5.0,3.0,120.00
2,Built-up Area,Uttarahalli,3.0,1440,2.0,3.0,62.00
3,Super built-up Area,Lingadheeranahalli,3.0,1521,3.0,1.0,95.00
4,Super built-up Area,Kothanur,2.0,1200,2.0,1.0,51.00

In [16]:
df.duplicated().sum()

692

In [17]:
df.drop_duplicates(inplace=True)

In [18]:
df.shape

(12627, 7)

In [19]:
df["total_sqft"].unique()[1:100]

array(['2600', '1440', '1521', '1200', '1170', '2732', '3300', '1310',
       '1020', '1800', '2785', '1000', '1100', '2250', '1175', '1180',
       '1540', '2770', '600', '1755', '2800', '1767', '510', '1250',
       '660', '1610', '1151', '1025', '2100 - 2850', '1075', '1760',
       '1693', '1925', '700', '1070', '1724', '1290', '1143', '1296',
       '1254', '1330.74', '970', '1459', '800', '869', '1270', '1670',
       '2010', '1185', '1600', '3010 - 3410', '1500', '1407', '840',
       '4395', '845', '5700', '1160', '3000', '1140', '1220', '1350',
       '1005', '500', '1358', '1569', '1240', '2089', '1206', '1150',
       '2511', '460', '4400', '1660', '2957 - 3450', '1326', '1325',
       '1499', '1665', '708', '1060', '710', '1450', '2894', '1330',
       '2502', '650', '2400', '1007', '966', '1630', '1640', '782',
       '1260', '1413', '1116', '1530', '3700', '2497'], dtype=object)

In [20]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [21]:
sample=df[~df["total_sqft"].apply(is_float)]
sample.head(30)

,area_type,location,size,total_sqft,bath,balcony,price
30,Super built-up Area,Yelahanka,4.0,2100 - 2850,4.0,0.0,186.000
56,Built-up Area,Devanahalli,4.0,3010 - 3410,2.0,2.0,192.000
81,Built-up Area,Hennur Road,4.0,2957 - 3450,2.0,2.0,224.500
122,Super built-up Area,Hebbal,4.0,3067 - 8156,4.0,0.0,477.000
137,Super built-up Area,8th Phase JP Nagar,2.0,1042 - 1105,2.0,0.0,54.005
165,Super built-up Area,Sarjapur,2.0,1145 - 1340,2.0,0.0,43.490
188,Super built-up Area,KR Puram,2.0,1015 - 1540,2.0,0.0,56.800
224,Super built-up Area,Devanahalli,3.0,1520 - 1740,2.0,2.0,74.820
410,Super built-up Area,Kengeri,1.0,34.46Sq. Meter,1.0,0.0,18.500
549,Super built-up Area,Hennur Road,2.0,1195 - 1440,2.0,0.0,63.770
579,Plot Area,Sarjapur Road,3.0,1200 - 2400,2.0,2.0,34.185
648,Built-up Area,Arekere,9.0,4125Perch,9.0,2.0,265.000
661,Super built-up Area,Yelahanka,2.0,1120 - 1145,2.0,0.0,48.130
669,Super built-up Area,JP Nagar,5.0,4400 - 6640,2.0,2.0,375.000
672,Built-up Area,Bettahalsoor,4.0,3090 - 5002,4.0,0.0,445.000
702,Super built-up Area,JP Nagar,5.0,4400 - 6800,2.0,2.0,548.500
772,Super built-up Area,Banashankari Stage VI,2.0,1160 - 1195,2.0,0.0,59.935
775,Built-up Area,Basavanagara,1.0,1000Sq. Meter,2.0,1.0,93.000
801,Super built-up Area,JP Nagar,4.0,4000 - 5249,2.0,2.0,453.000
850,Super built-up Area,Bannerghatta Road,2.0,1115 - 1130,2.0,0.0,58.935
872,Super built-up Area,Singapura Village,2.0,1100Sq. Yards,2.0,2.0,45.000
886,Super built-up Area,Chandapura,1.0,520 - 645,1.0,0.0,15.135
927,Super built-up Area,Thanisandra,2.0,1000 - 1285,2.0,0.0,43.415
941,Super built-up Area,Whitefield,4.0,3606 - 5091,2.0,2.0,304.000
959,Super built-up Area,Kammasandra,1.0,650 - 665,1.0,0.0,18.410
990,Super built-up Area,Sarjapur,1.0,633 - 666,1.0,0.0,17.535
1019,Plot Area,Marathi Layout,1.0,5.31Acres,1.0,0.0,110.000
1086,Plot Area,Narasapura,2.0,30Acres,2.0,2.0,29.500
1178,Super built-up Area,Yelahanka,3.0,1445 - 1455,3.0,0.0,65.255
1183,Super built-up Area,Magadi Road,2.0,884 - 1116,2.0,0.0,46.500

In [22]:
sample[~sample["total_sqft"].str.contains("-")]

,area_type,location,size,total_sqft,bath,balcony,price
410,Super built-up Area,Kengeri,1.0,34.46Sq. Meter,1.0,0.0,18.50
648,Built-up Area,Arekere,9.0,4125Perch,9.0,2.0,265.00
775,Built-up Area,Basavanagara,1.0,1000Sq. Meter,2.0,1.0,93.00
872,Super built-up Area,Singapura Village,2.0,1100Sq. Yards,2.0,2.0,45.00
1019,Plot Area,Marathi Layout,1.0,5.31Acres,1.0,0.0,110.00
1086,Plot Area,Narasapura,2.0,30Acres,2.0,2.0,29.50
1400,Super built-up Area,Chamrajpet,9.0,716Sq. Meter,9.0,1.0,296.00
1712,Plot Area,Singena Agrahara,3.0,1500Sq. Meter,3.0,1.0,95.00
1743,Super built-up Area,Hosa Road,3.0,142.61Sq. Meter,3.0,1.0,115.00
1821,Plot Area,Sarjapur,3.0,1574Sq. Yards,3.0,1.0,76.00
2310,Super built-up Area,Whitefield,4.0,361.33Sq. Yards,4.0,2.0,270.00
2881,Built-up Area,Volagerekallahalli,2.0,117Sq. Yards,2.0,2.0,38.00
3228,Built-up Area,Dodda Banaswadi,5.0,3040Sq. Meter,5.0,1.0,140.00
3285,Plot Area,Whitefield,4.0,500Sq. Yards,4.0,2.0,378.00
4113,Super built-up Area,BTM Layout,3.0,167Sq. Meter,3.0,2.0,10.00
4293,Built-up Area,Bannerghatta Road,4.0,315Sq. Yards,5.0,2.0,260.00
5453,Plot Area,Kannur,6.0,3Cents,6.0,3.0,75.00
5537,Built-up Area,Frazer Town,3.0,188.89Sq. Yards,3.0,1.0,180.00
5631,Super built-up Area,Thanisandra,3.0,204Sq. Meter,4.0,2.0,185.00
5668,Built-up Area,Judicial Layout,5.0,45Sq. Yards,6.0,3.0,400.00
5708,Plot Area,Jigani,4.0,133.3Sq. Yards,3.0,2.0,160.00
5976,Built-up Area,1st Phase JP Nagar,1.0,78.03Sq. Meter,1.0,1.0,63.00
6268,Built-up Area,Chickpet,2.0,122Sq. Yards,2.0,0.0,48.00
6303,Built-up Area,JP Nagar,3.0,84.53Sq. Meter,3.0,1.0,69.34
6333,Plot Area,Harohalli,2.0,2.09Acres,2.0,0.0,200.00
6552,Plot Area,5 Bedroom Farm House in Lakshmipura,5.0,24Guntha,6.0,2.0,550.00
6592,Built-up Area,Langford Town,4.0,697Sq. Meter,4.0,2.0,211.00
6953,Super built-up Area,Hosa Road,3.0,142.61Sq. Meter,3.0,1.0,109.00
7001,Plot Area,Thyagaraja Nagar,8.0,1500Cents,6.0,2.0,290.00
7248,Built-up Area,Hulimavu,2.0,132Sq. Yards,2.0,3.0,46.00
7334,Plot Area,Kanakpura Road,1.0,2Acres,1.0,0.0,125.00
7520,Super built-up Area,Doddaballapur,3.0,1100Sq. Meter,2.0,1.0,48.00
7607,Plot Area,Bommenahalli,3.0,15Acres,3.0,1.0,217.00
7726,Plot Area,Kanakpura Road,1.0,1.26Acres,1.0,0.0,125.00
8273,Built-up Area,V.V Puram,3.0,151.11Sq. Yards,2.0,0.0,150.00
9423,Plot Area,Ramamurthy Nagar,1.0,1Grounds,1.0,1.0,48.00
9519,Built-up Area,Bommenahalli,3.0,2940Sq. Yards,3.0,1.0,232.00
9734,Carpet Area,Yelahanka New Town,1.0,45.06Sq. Meter,2.0,1.0,18.00
10488,Plot Area,2 Bedroom Furnished Farm House in Kolar Road,2.0,1.25Acres,2.0,2.0,200.00
10491,Super built-up Area,Rajapura,2.0,86.72Sq. Meter,2.0,2.0,40.00
11320,Plot Area,Arishinakunte,1.0,38Guntha,1.0,0.0,170.00
11615,Plot Area,arudi,3.0,6Acres,2.0,0.0,80.00
12186,Built-up Area,7th Phase JP Nagar,2.0,120Sq. Yards,2.0,1.0,51.00
12252,Built-up Area,Gowdanapalya,5.0,24Sq. Meter,5.0,0.0,75.00
12560,Super built-up Area,Hosa Road,3.0,142.84Sq. Meter,3.0,1.0,110.00
12652,Plot Area,Billamaranahalli,2.0,300Sq. Yards,2.0,2.0,150.00

In [23]:
import re
def numbers(string):
    pattern = r'(\d+(\.\d+)?)'
    match = re.search(pattern, string)
    return float(match.group(0))

In [24]:
numbers("300Sq. Yards")

300.0

In [25]:
def to_float(x):
    prices=x.split("-")
    if(len(prices)==2):
        avg=(float(prices[0].strip())+float(prices[1].strip()))/2
        return avg
    try:
        return float(x)
    except:
        if("Sq. Meter" in x):
            return numbers(x)*10.76
        if("Sq. Yards" in x):
            return numbers(x)*3
        if("Acres" in x):
            return numbers(x)*43560
        if("Guntha" in x):
            return numbers(x)*1089
        if("Grounds" in x):
            return numbers(x)*2400
        if("Perch" in x):
            return numbers(x)*272.5
        if("Cent" in x):
            return numbers(x)*435.6
        return None

In [26]:
df["total_sqft"]=df["total_sqft"].apply(to_float)

In [27]:
df["price_per_sqft"]=df["price"]*100000/df["total_sqft"]
df.head()

,area_type,location,size,total_sqft,bath,balcony,price,price_per_sqft
0,Super built-up Area,Electronic City Phase II,2.0,1056.0,2.0,1.0,39.07,3699.810606
1,Plot Area,Chikka Tirupathi,4.0,2600.0,5.0,3.0,120.00,4615.384615
2,Built-up Area,Uttarahalli,3.0,1440.0,2.0,3.0,62.00,4305.555556
3,Super built-up Area,Lingadheeranahalli,3.0,1521.0,3.0,1.0,95.00,6245.890861
4,Super built-up Area,Kothanur,2.0,1200.0,2.0,1.0,51.00,4250.000000

In [ ]:
df.groupby("")